<div class="container">
    <h2>Create Students</h2>
    <div class="form-row" **ngIf="showMsg">
        <div class="alert alert-{{type}} cold-md-12" role="alert">
            {{msg}}
        </div>
    </div>
    <form #courseForm="ngForm">
        <div class="form-row">
          <div class="col-md-3">
            <label>ID: </label>
            <input type="text" id="ID" name="ID" placeholder="Enther the courseID"
            class="form-control" #courseID [(ngModel)]="student.ID" readonly/>
          </div>
          <div class="col-md-3">
            <label>Last Name: </label>
            <input type="text" id="LastName" name="LastName" placeholder="Enther the LastName"
            class="form-control" #Title [(ngModel)]="student.LastName"/>
          </div>
          <div class="col-md-3">
            <label>FirstMidName: </label>
            <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Enther the FirstMidName"
            class="form-control" #Credits [(ngModel)]="student.FirstMidName"/>
          </div>
          <div class="col-md-3">
              <label>EnrollmentDate: </label>
              <input type="date" id="EnrollmentDate" name="EnrollmentDate" placeholder="Enther the Credits"
              class="form-control" #Credits [(ngModel)]="student.EnrollmentDate"/>
          </div>
        </div>

        <br>
        <button class="btn btn-outline-primary btn-sm" (click)="save()">Save</button>
        <a class ="btn btn-outline-primary btn-sm" [routerLink]="['/student-list']">Back</a>
    </form>
</div>

